input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 4%;
  margin-top: 4px;
  margin-bottom: 4px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button{
  padding: 10px;
  width: 40%;
  border: none;
  background-color: darkslateblue ;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 40%;
  background-color: whitesmoke;
  padding: 20px;
}

.List {
  margin-top: 20px;
  margin-bottom: 20px;
}

.List>li {
  background-color: darkslateblue;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}